@page "/dynamic-process-list"
@using ProcessMonitorService.Service
@using ProcessMonitorService.Data
@using ProcessMonitorUI.Helper
@using ProcessMonitorUI.Hubs
@using Microsoft.AspNetCore.SignalR.Client
@inject RunningProcessCollector collector
@inject ProcessMonitorHub MonitorHub
@inject NavigationManager NavigationManager

<PageTitle>Dynamic Process List</PageTitle>
@if (_list == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <dl>
        <dt>Date:</dt>
        <dd>@_list.DateCreated</dd>
    </dl>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>
                Name
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var p in _list.Data.OrderBy(d=>d.ProcessName))
        {
            <tr>
                <td>@p.Id</td>
                <td>@p.ProcessName</td>
            </tr>
        }
        </tbody>
    </table>

}

@code {

    RunningProcessCollection? _list;
    private HubConnection? hubConnection;

    private void Reload()
    {
        _list = collector.GetAll();
    }

    protected override async Task OnInitializedAsync()
    {

        hubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri(MonitorHub.DefaultRoute))
            .Build();
        
        hubConnection.On<RunningProcessCollection>("UpdateAll", (incoming) =>
        {
            this._list = incoming;
            this.InvokeAsync(this.StateHasChanged);

        });

        await hubConnection.StartAsync();
        MonitorHub.Start();

        await base.OnInitializedAsync();
    }


    
    

}